.mail-preview {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items:center;
    gap: 30px;
    margin-left: 50px;
}

.mail-subject {
    
    /* justify-self: center; */
    width: 400px;
}


.mail-from-name {
    width: 300px;
    color: red
}