.mail-preview {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    margin-left: 50px;
    border: 0.8px solid rgb(222, 226, 229);
    background-color: #f2f6fc;
    color: #202124;
    border-radius: 0px;
    height: 40px;
    position: relative;
    padding-left: 15px;
/* text-align: left; */

}

.mail-preview:hover {
   box-shadow: rgba(100, 121, 143, 0.12) 0px -1px 0px 0px inset;
   scale:1.03;
   
}

.mail-subject {
    width: 250px;

}

.mail-from-name {
    width: 100px;
}

.mail-body{
   flex-flow: 1;
} 
 .mail-date {
  text-align: right;

}

/* .mail-preview {
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr, 1fr;

}
.mail-subject{
    grid-column:2;
}
.mail-from-name{
    grid-column: 1;
}

.mail-date{
grid-column: 4;   
}

